@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  display: flex;
  justify-content: center;
  background-color: #f4f5f7;
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  width: 1920px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sandoll GogoRound", sans-serif;
  border-bottom: 1px solid #000;
}

#back-button {
  background-color: #f4f5f7;
  color: #000;
  font-family: "Pretendard", sans-serif;
  border: 0px #f4f5f7;
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
}

.container .name {
  margin: 36px;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #000;
}

.container .image {
  width: 36px;
  height: 36px;
  margin-left: 20px;
  border-radius: 50%;
}

.signup-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  margin-bottom: 10px;
  font-family: "Pretendard", sans-serif;
}

.container-signup {
  position: relative;
  width: 544px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard", sans-serif;
  border: 1px solid #f4f5f7;
  border-radius: 10px;
}

.container-signup .name {
  margin: 15px;
  margin-left: 4px;
  color: #000;
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17.9px;
}

.container-signup .image {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  margin-left: 30%;
}

#helper-text {
  margin: 10px;
  margin-left: 4px;
  color: #ff0000;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.line {
  width: 540px;
  height: 1px;
  background-color: #d9d9d9;
}

input::placeholder,
textarea::placeholder {
  color: #838486;
}

#title-textbox {
  width: 570px;
  height: 87px;
  padding: 5px;

  background-color: #f4f5f7;
  border: 1px solid #f4f5f7;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 700;
  color: #000;
}

#body-textbox {
  width: 570px;
  height: 299px;
  padding: 5px;

  background-color: #f4f5f7;
  border: 1px solid #f4f5f7;
  border-radius: 4px;

  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.button {
  width: 355px;
  height: 33px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #aca0e8;
  border-radius: 4px;

  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.71px;
}

#rowcon {
  display: flex;
  flex-direction: row;
}

.container-signup .text {
  margin: 15px;
  margin-left: 4px;
  color: #000;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.9px;
}

.button-round {
  width: 68px;
  height: 29px;
  display: flex;
  margin: 6px;
  margin-left: 0px;
  background-color: #d9d9d9;

  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 4px;

  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
}
