@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    display: flex;
    justify-content: center;
    background-color: #f4f5f7;
    font-family: "Noto Sans KR", sans-serif;
}

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none;
}

.container {
    width: 1920px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sandoll GogoRound", sans-serif;
    border-bottom: 1px solid #000;
}

.container .name {
    margin: 36px;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #000;
}

.container .image {
    width: 36px;
    height: 36px;
    margin-left: 20px;
    border-radius: 50%;
}

.board-header {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    margin-top: 40px;
    font-family: "Pretendard", sans-serif;
}

.bold-text {
    font-weight: 700;
}


#writeboard-button {
    width: 138px;
    height: 39px;
    margin-left: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #aca0eb;
    border: 1px solid #f4f5f7;
    border-radius: 16px;
  
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    /* figma에 16.71px로 나와 있지만 로그인 텍스트의 가로 중앙 정렬을 위해 임의로 수정 */
    line-height: 25.04px;
}

.container-board {
    position: relative;
    width: 592px;
    height: 169px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: "Pretendard", sans-serif;
    border: 1px solid #f4f5f7;
    border-radius: 10px;
}

.container-board .name {
    width: 200px;
    height: 31px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color: #000;
}

.container-board .info {
    display: flex;
    justify-content: space-between;
}

.container-board .state {
    height: 18px;
    margin: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    color: #000;
}

.container-board .line {
    position: absolute;
    bottom: 35%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f4f5f7;
}

.container-board .writer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.container-board .writer .image {
    width: 36px;
    height: 36px;
    margin-left: 20px;
    border-radius: 50%;
}

.container-board .writer .state {
    height: 18px;
    margin: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18.2px;
    color: #000;
}

/* uerinfo modal element */
#userinfo-modalContainer {
    position: absolute;
    width: 115px;
    height: 105px;
    top: 88px;
    left: 408px;
}

.modal-userinfo-button {
    width:100%;
    height: 35px;
    border: 0px;
    background-color: #d9d9d9;
}